rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /chats/{conversationId}/{allPaths=**} {
      allow read, write: if isSignedIn();
    }

    match /groups/{groupId}/{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}
